apiVersion: v1
kind: ServiceAccount
metadata:
  name: workloadmanager
  namespace: {{ .Release.Namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: workloadmanager
rules:
  - apiGroups: ["agents.x-k8s.io"]
    resources: ["sandboxes"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["extensions.agents.x-k8s.io"]
    resources: ["sandboxclaims"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["extensions.agents.x-k8s.io"]
    resources: ["sandboxtemplates"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["extensions.agents.x-k8s.io"]
    resources: ["sandboxwarmpools"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["extensions.agents.x-k8s.io"]
    resources: ["sandboxwarmpools/status"]
    verbs: ["get", "update", "patch"]
  - apiGroups: ["runtime.agentcube.volcano.sh"]
    resources: ["codeinterpreters"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["runtime.agentcube.volcano.sh"]
    resources: ["codeinterpreters/status"]
    verbs: ["get", "update", "patch"]
  - apiGroups: ["runtime.agentcube.volcano.sh"]
    resources: ["codeinterpreters/finalizers"]
    verbs: ["update"]
  - apiGroups: ["runtime.agentcube.volcano.sh"]
    resources: ["agentruntimes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["runtime.agentcube.volcano.sh"]
    resources: ["agentruntimes/status"]
    verbs: ["update", "patch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["authentication.k8s.io"]
    resources: ["tokenreviews"]
    verbs: ["create"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: workloadmanager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: workloadmanager
subjects:
  - kind: ServiceAccount
    name: workloadmanager
    namespace: {{ .Release.Namespace }}
