name: Build and Push Release Images

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
      - "v*.*.*-*" # Support for pre-release tags like v1.2.3-alpha

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.4'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine tag
        id: determine_tag
        run: |
          if [[ "${{ github.event_name }}" == "push" && "${{ github.ref_type }}" == "tag" ]]; then
            echo "TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          else
            echo "TAG=latest" >> $GITHUB_ENV
          fi

      - name: Build and push images
        env:
          # Please confirm that there are no uppercase letters in github.repository_owner.
          IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
        run: |
          make docker-buildx-push IMAGE_REGISTRY=$IMAGE_REGISTRY WORKLOAD_MANAGER_IMAGE=workloadmanager:${{ env.TAG }}
          make docker-buildx-push-router IMAGE_REGISTRY=$IMAGE_REGISTRY ROUTER_IMAGE=agentcube-router:${{ env.TAG }}
          make docker-buildx-push-picod IMAGE_REGISTRY=$IMAGE_REGISTRY PICOD_IMAGE=picod:${{ env.TAG }}
