name: Codespell

on:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:
    branches:
      - main

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          skip: './.git,./go.sum,./*.png,./*.jpg,./*.svg,./*.gif,./*.sum,./bin,./vendor,*.toml'
          ignore_words_list: fo,nam,te,notin,NotIn