name: Copyright Check

on:
  pull_request:
    branches:
      - main
      - "release-*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Filter paths
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            copyright:
              - '**'
              - '!**/*.md'
              - '!**/*.svg'
              - '!**/*.png'
              - '!docs/**'
              - '!.github/**'
      - name: install sponge
        shell: bash
        if: steps.changes.outputs.copyright == 'true'
        run: sudo apt-get update && sudo apt-get install -y moreutils
      - name: generate copyright
        shell: bash
        if: steps.changes.outputs.copyright == 'true'
        run: |
          make gen-copyright
      - name: check diff
        shell: bash
        if: steps.changes.outputs.copyright == 'true'
        run: |
          git diff --exit-code
