name: Python Lint

on:
  pull_request:
    branches:
      - main
      - release-*

jobs:
  python_lint:
    name: Python Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Filter paths
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            python:
              - "cmd/cli/**"
              - "sdk-python/**"
              - "example/**"
              - "test/**/*.py"
              - "pyproject.toml"
              - ".github/workflows/python-lint.yml"
      - name: Set up Python
        if: steps.changes.outputs.python == 'true'
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Run Lint
        if: steps.changes.outputs.python == 'true'
        run: |
          python3 -m pip install ruff
          python3 -m ruff check . --config pyproject.toml
